html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #34568B;
  }
  
  body {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  h1, h2, h3 {
    font-family: 'Georgia';
    color: snow;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: snow;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    flex: 5;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 3rem;
    text-align: left;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 2rem;
    line-height: 2;
  } 

  header {
    padding: 0 20px;
    min-height: 75px;
    min-width: 500px;
    background: #6B5B95;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
    flex-flow: row wrap;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  main, header, nav, article, aside, footer, section {
    background-color: #6B5B95;
    padding: 1%;
    border-radius: 25px;
  }
 
  header img {
    display: block;
    height: 100px;
    padding-top: 20.15px;
  }
  
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: snow;
  }
  
  main {
    display: flex;
    
  }
  
  article,section {
    flex: 4;
    display: inline-block;
  }
   a {
    font-size: 23px;
    color:springgreen;
  } 

  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }
  
  aside a {
    display: block;
    float: left;
    width: 50%;
  }
  
  aside img {
    max-width: 100%;
  }
  
  footer {
    margin-top: 10px;
    
  }